<!--
 ~二次开发版权所有（c）2021 Leeliner 
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">

  <!--百度统计-->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f6089b5b5176e6d8e868f0e4b3cc0168";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}"></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
<style>body{
  background-image: url(".././images/bg2.jpg");
  zoom: 1.0;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
  -moz-background-size:100% 100%;  
  background-size:100% 100%; 
  background-attachment:fixed;
}</style>
</head>



<body>

<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <a href="http://localhost:8081" target="_blank"><h2 class="ui violet header item">2021BLOG后台管理</h2></a>
      <a th:href="@{/admin/blogs}" class=" m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class=" home icon"></i>博客</a>
      <a th:href="@{/admin/types}" class=" m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class=" list icon"></i>分类</a>
      <a th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class=" tags icon"></i>标签</a>
      <a th:href="@{/admin/websiteInfo}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class=" setting icon"></i>设置</a>
      <a th:href="@{/admin/websiteRecord}" class="m-item item m-mobile-hide" th:classappend="${n==5} ? 'active'"><i class=" setting icon"></i>访问记录</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
            <img class="ui avatar image"  th:src="@{${session.user.avatar}}">
            <span th:text="${session.user.nickname}"></span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>

<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
  <div class="ui center aligned container">


    <div class="ui inverted divided stackable grid">


      <!--个人说明-->
      <div class="four wide column">
        <h4 class="ui inverted header me-opacity-mini">寄语</h4>
        <div class="ui inverted list link">
          <p style="color: #ffffff" class="item">每个人都有一段路要自己走</p>
          <p style="color: #ffffff" class="item">沿途或许有很多风景</p>
          <p style="color: #ffffff" class="item">但一旦停留</p>
          <p style="color: #ffffff" class="item">必然会得到欣赏美也会失去某些东西</p>
        </div>
      </div>
    

      <div class="four wide column">
        <h4 class="ui inverted header me-opacity-mini" >最新推荐</h4>
        <div id="newblog-container">
          <div class="ui inverted link list" th:fragment="newblogList">
            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-text-thin" th:each="blog : ${newblogs}" th:text="${blog.title}"></a>


          </div>
        </div>
      </div>

      <div class="four wide column">
        <h4 class="ui inverted header me-opacity-mini">IP地址</h4>
        <div class="ui inverted list link">
          
           <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
           <p id="ip"> <span style="color:#bd8787;">你的IP:<script>
                    document.write(returnCitySN["cip"]);
                    // var iip=returnCitySN["cip"];
                    // document.getElementById("ip").innerHTML = "你的IP:"+iip;
                   </script></span>
         </p>
         <p style="color:#fff;">你的地址:<script>
                    document.write(returnCitySN["cname"])
                   </script>© <a style="text-decoration:none;color:rgba(22, 241, 176, 0.867);" href="https://www.x6d.com/">leeliner</a> 版权所有</p>
                   <script type="text/javascript" color="255,255,255" opacity='0.7' zIndex="-2" count="200" src=".././js/canvas-nest.min.js"></script>


        </div>
      </div>

      <div class="four wide column">
        <h4 class="ui inverted header me-opacity-mini" >网站信息</h4>
        <div class="ui inverted link list">

          <p style="color:#fff;" class="item">访问量 : <span th:text="${session.views}"></span> &nbsp;&nbsp;&nbsp;<br> <br>本网站艰难维护了 : <span style="color:#fff;" id="htmer_time" class="item m-text-thin"></span> &nbsp;&nbsp;&nbsp; </p>

        </div>
      </div>
    </div>
  </div>

</footer>


<th:block th:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>

</th:block>

</body>
</html>